{% extends 'base.html' %}

{% block content %}
    <h2>Clients</h2>
    <table>
        <tr>
            <th>Name</th>
            <th>Email</th>
            <th>Phone</th>
            <th>Policy Number</th>
            <th>Renewal Date</th>
        </tr>
        {% for client in clients %}
        <tr>
            <td>{{ client.name }}</td>
            <td>{{ client.email }}</td>
            <td>{{ client.phone }}</td>
            <td>{{ client.policy_number }}</td>
            <td>{{ client.renewal_date }}</td>
        </tr>
        {% endfor %}
    </table>
{% endblock %}
